*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:Rokkitt-VariableFont_wght ;
    src: url(../assets/font/Rokkitt-VariableFont_wght.ttf);
    /* Agregue la familia de la fuente Rokkitt para los titulos de todas las paginas*/
}
.tamañotitulo {
    font-size: 4rem;
    color: #790000;
}
.header {
    .logo
    {width: 150px
    }
    background-color: #FADA8B;
    color: white;
}
.tamañoimagen {
    height: 600px;
}
.linknav a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    border: 1px solid #790000; /* Agrega un borde de 1 píxel sólido rojo al botón */
    color: #790000; /* Establece el color del texto del botón a rojo */
    transition: all 0.3s ease; /* Agrega una transición suave para todos los cambios (color, borde, etc.) */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;    
}

/* Cambiar el estilo del botón cuando el mouse está sobre él (hover) */
.linknav a:hover {
    background-color: #790000;
    color: #ffffff;
}
.linknav {
    margin-bottom: 10px;
    margin-top: 80px;
}
@media (max-width: 767px) {
    .navbar-nav .linknav {
        margin-top: 10px; /* Reduce el espacio entre los elementos de la lista */
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 2px;
        text-align: center;

    }
    .navbar-nav .linknav a {    

        width: 100%;
        padding: 8px 12px; /* Ajusta el espacio interno del botón */
        font-size: 14px; /* Reduce el tamaño del texto */
    }}

.titulosprincipales {
    text-align: center;
    font-size: 60px; 
    font-family: Rokkitt-VariableFont_wght; /* fuente a utilizar para todos los titulos*/
    color: #790000;}
    .textogaleria {
        font-size: 20px;
    }
.galeria {
    display: flex; /* para que quede una al lado de la otra*/
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.galeriaimagen {
    border: 2px solid #790000;
    width: 400px;
    height: 400px;  
}
.galeriaimagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.piedepagina{
    background-color: #FADA8B;  
    color: #790000;
    width: 100%;
    .logosredes{   
        text-decoration: none;
        display: flex;
        display: inline-block;
        font-size: 20px;
        .fab.fa-facebook-f {
            color: #1877f2
        }
        .fab.fa-instagram {
            color: #bc2a8d
        }}
        .enlacesrapidos a {
            text-decoration: none;
            color: black;
        }}