.diseñoform {
    
        
        padding: 20px; /* Añade relleno al contenedor */
        border: 1px solid #ccc; /* Agrega un borde al contenedor */
        border-radius: 10px; /* Añade esquinas redondeadas al contenedor */
        background-color: #fff; /* Fondo blanco para el contenedor */
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
        .botoncontacto {
            width: 100%;
            padding: 20px; /* Añade relleno al contenedor */
            border: 1px solid #ccc; /* Agrega un borde al contenedor */
            border-radius: 10px; /* Añade esquinas redondeadas al contenedor */
            font-size: 20px;
        background-color: rgba(167, 163, 163, 0.151);}
}

